
.box {
    width: 100%;
    height: calc(100vh - 44px);
    color: white;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-you {
    font-size: 24px;
}
