.shows {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    max-width: 1400px;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.no-shows-found {
    color: white;
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 80px;
    display: none;
}
